@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 11, 16, 32;
  --background-end-rgb: 5, 7, 15;
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(circle at center, #020c1b 0%, #020617 70%);
  background-attachment: fixed;
  min-height: 100vh;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

/* Custom selection */
::selection {
  background: #00C8FF;
  color: white;
}


